:root {
  --primary-color: #333;
  --background-color: #f8f8f8;
  --text-color: #fff;
  --item-background-color: #fff;
  --button-color: #333;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
}
